BODY {
	SCROLLBAR-FACE-COLOR: #008977; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #008977; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f4f8e6; FONT-FAMILY: Tahoma, Arial, Verdana; SCROLLBAR-DARKSHADOW-COLOR: #008977; SCROLLBAR-BASE-COLOR: #f4f8e6
}
TD {
	SCROLLBAR-FACE-COLOR: #008977; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #008977; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f4f8e6; FONT-FAMILY: Tahoma, Arial, Verdana; SCROLLBAR-DARKSHADOW-COLOR: #008977; SCROLLBAR-BASE-COLOR: #f4f8e6
}
P {
	SCROLLBAR-FACE-COLOR: #008977; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #008977; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f4f8e6; FONT-FAMILY: Tahoma, Arial, Verdana; SCROLLBAR-DARKSHADOW-COLOR: #008977; SCROLLBAR-BASE-COLOR: #f4f8e6
}
DIV {
	SCROLLBAR-FACE-COLOR: #008977; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #008977; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #f4f8e6; FONT-FAMILY: Tahoma, Arial, Verdana; SCROLLBAR-DARKSHADOW-COLOR: #008977; SCROLLBAR-BASE-COLOR: #f4f8e6
}
EM {
	FONT-STYLE: italic
}
STRONG {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
SMALL {
	FONT-SIZE: 10px
}
SUP {
	FONT-SIZE: 10px
}
.nb-img {
	MARGIN: 0px 5px 0px 0px
}
.new-img {
	MARGIN: 0px 0px 0px 5px
}
.td-advert {
	BACKGROUND-COLOR: #f4f8e6
}
.td-mm {
	BACKGROUND-COLOR: #008977
}
.td-rmt {
	BACKGROUND-IMAGE: url(/examine.nsf/bg-rmt.gif); BACKGROUND-COLOR: #c2d094
}
.td-rmt1 {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(/examine.nsf/bg-rmt1.gif); BACKGROUND-COLOR: #c2d094
}
.td-rm {
	BACKGROUND-COLOR: #ffffff
}
.td-redm {
	BACKGROUND-COLOR: #a60111
}
.td-cm {
	BACKGROUND-COLOR: #b9cbff
}
.td-nav {
	BACKGROUND-COLOR: #b81a20
}
.td-mline {
	BACKGROUND-IMAGE: url(/examine.nsf/bg-mline.gif); BACKGROUND-COLOR: #f4f8e6
}
.td-wline {
	BACKGROUND-COLOR: #ffffff
}
.td-gline {
	BACKGROUND-COLOR: #eae3ce
}
.td-bline {
	BACKGROUND-COLOR: #b9a661
}
.td-b1line {
	BACKGROUND-COLOR: #5a8108
}
.td-lban {
	BACKGROUND: #f7f3e3
}
.td-lm1 {
	BACKGROUND: #f7f3e3
}
.menu-box {
	BORDER-RIGHT: #008977 1px solid; BORDER-TOP: #008977 1px solid; BORDER-LEFT: #008977 1px solid; BORDER-BOTTOM: #008977 1px solid
}
.menu-box1 {
	BORDER-RIGHT: #95979a 1px solid; BORDER-TOP: #95979a 1px solid; BORDER-LEFT: #95979a 1px solid; BORDER-BOTTOM: #95979a 1px solid
}
TD.td-lm {
	DISPLAY: block; BACKGROUND: #ffffff
}
TD.td-lm DIV A {
	DISPLAY: block; BACKGROUND: #ffffff; TEXT-DECORATION: none
}
TD.td-lm DIV {
	DISPLAY: block; CURSOR: pointer; TEXT-DECORATION: none
}
TD.td-lm DIV A:hover {
	DISPLAY: block; BACKGROUND: #eae3ce; TEXT-DECORATION: none
}
.d-block {
	MARGIN: 4px 6px 6px 8px
}
.d-block1 {
	MARGIN: 2px 8px
}
.d-block2 {
	MARGIN: 8px 0px
}
.d-titl {
	MARGIN: 4px -2px 5px 6px
}
.copy {
	FONT-SIZE: 10px; COLOR: #8d8c8c
}
.date {
	FONT-WEIGHT: bold; COLOR: #008977
}
.dater {
	COLOR: #b81a20
}
.titr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #b81a20; PADDING-TOP: 0px
}
.bred {
	FONT-WEIGHT: bold; COLOR: #b81a20
}
.img {
	BORDER-RIGHT: #afaec0 1px solid; BORDER-TOP: #afaec0 1px solid; MARGIN: 0px 10px 10px 0px; BORDER-LEFT: #afaec0 1px solid; BORDER-BOTTOM: #afaec0 1px solid
}
.li {
	LIST-STYLE-IMAGE: url(/examine.nsf/li.gif)
}
.li1 {
	LIST-STYLE-IMAGE: url(/examine.nsf/li1.gif)
}
.li-out {
	LIST-STYLE-IMAGE: url(/examine.nsf/dot-li.gif)
}
.more {
	FONT-SIZE: 11px
}
.mm {
	COLOR: #ffffff
}
A.mm:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.mm:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
A.mm:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.mm:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.rlink:link {
	FONT-WEIGHT: normal; COLOR: #b81a20; TEXT-DECORATION: none
}
A.rlink:visited {
	FONT-WEIGHT: normal; COLOR: #b81a20; TEXT-DECORATION: none
}
A.rlink:active {
	FONT-WEIGHT: normal; COLOR: #b81a20; TEXT-DECORATION: underline
}
A.rlink:hover {
	FONT-WEIGHT: normal; COLOR: #b81a20; TEXT-DECORATION: underline
}
A.bm:link {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bm:visited {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bm:active {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.bm:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.more:link {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A.more:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A.more:active {
	FONT-WEIGHT: normal; COLOR: #888888; TEXT-DECORATION: underline
}
A.more:hover {
	FONT-WEIGHT: normal; COLOR: #888888; TEXT-DECORATION: underline
}
A.news:link {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A.news:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A.news:active {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A.news:hover {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A:link {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: underline
}
A.copy:link {
	FONT-WEIGHT: normal; COLOR: #8d8c8c; TEXT-DECORATION: underline
}
A.copy:visited {
	FONT-WEIGHT: normal; COLOR: #8d8c8c; TEXT-DECORATION: underline
}
A.copy:active {
	FONT-WEIGHT: normal; COLOR: #555555; TEXT-DECORATION: underline
}
A.copy:hover {
	FONT-WEIGHT: normal; COLOR: #555555; TEXT-DECORATION: underline
}
INPUT {
	BORDER-RIGHT: #afaec0 1px solid; BORDER-TOP: #afaec0 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #afaec0 1px solid; COLOR: #000000; BORDER-BOTTOM: #afaec0 1px solid; FONT-FAMILY: Verdana, Arial
}
.radio {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
INPUT.checkbox {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.go {
	BORDER-RIGHT: #afaec0 1px solid; BORDER-TOP: #afaec0 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #b81a20; BORDER-LEFT: #afaec0 1px solid; CURSOR: hand; COLOR: #fdfcfc; BORDER-BOTTOM: #afaec0 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #fdfcfc 1px ridge; BORDER-TOP: #fdfcfc 1px ridge; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #fdfcfc 1px ridge; COLOR: #000000; BORDER-BOTTOM: #fdfcfc 1px ridge; FONT-FAMILY: Tahoma, Helvetica, Arial, Verdana
}
OPTION {
	FONT-SIZE: 10px; BACKGROUND: #ffffff; COLOR: #000000
}
SELECT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9px; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
