#l1 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #a0d090; PADDING-BOTTOM: 4px; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid
}
#l2 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #cce6c4; PADDING-BOTTOM: 4px; WIDTH: 25%; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#l3 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 4px; WIDTH: 25%; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#l4 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 13px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 4px; WIDTH: 25%; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#l5 {
	BORDER-RIGHT: #ffffff 2px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#banners {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana
}
#logo {
	FONT-SIZE: 50px; MARGIN: 2px 10px 3px; COLOR: #ffffff; FONT-FAMILY: Arial
}
#logo A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#logo A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#logo A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#banners1 {
	BACKGROUND: #f0f0f0; MARGIN: 5px 0px 5px 5px
}
#silverline {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #aaaaaa; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 0px; PADDING-TOP: 2px
}
#credoline {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 13px; BACKGROUND: #a0d090; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 1px; COLOR: #fffff0; PADDING-TOP: 3px; FONT-FAMILY: Arial
}
#silverline2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #aaaaaa; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 0px; PADDING-TOP: 2px
}
#credoline2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; BACKGROUND: #a0d090; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 1px; COLOR: #fffff0; PADDING-TOP: 3px; FONT-FAMILY: Arial
}
#rightbanner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN: 0px
}
#menu {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN: 0px
}
#menu1 {
	PADDING-RIGHT: 2px; DISPLAY: inline; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #cce6c4; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; OVERFLOW: hidden; BORDER-LEFT: #ffffff 2px solid; WIDTH: 24.95%; PADDING-TOP: 2px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#menu2 {
	PADDING-RIGHT: 2px; DISPLAY: inline; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px; OVERFLOW: hidden; BORDER-LEFT: #ffffff 2px solid; WIDTH: 24.95%; PADDING-TOP: 2px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#menu3 {
	PADDING-RIGHT: 3px; DISPLAY: inline; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 2px; OVERFLOW: hidden; BORDER-LEFT: #ffffff 2px solid; WIDTH: 14.28%; PADDING-TOP: 3px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#startstring {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN-RIGHT: 30px; PADDING-TOP: 10px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#topline_ul {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN: 0px
}
#topline_li {
	PADDING-RIGHT: 1px; DISPLAY: inline; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 3px; WIDTH: 24.95%; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-ALIGN: center
}
#reklama {
	PADDING-RIGHT: 10px; MARGIN-TOP: 3px; PADDING-LEFT: 10px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Verdana
}
#reklama A:link {
	TEXT-DECORATION: none
}
#reklama A:visited {
	TEXT-DECORATION: none
}
#reklama A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
#tableline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana; TEXT-ALIGN: center
}
#tablecell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: Verdana
}
#descr {
	PADDING-RIGHT: 4px; MARGIN-TOP: 10px; PADDING-LEFT: 4px; FONT-SIZE: 100%; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#columnheader {
	PADDING-RIGHT: 10px; MARGIN-TOP: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 167%; PADDING-BOTTOM: 10px; COLOR: #606060; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#columnheader2 {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 117%; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 10px; COLOR: #606060; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#columntext {
	MARGIN-TOP: 5px; FONT-SIZE: 100%; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; COLOR: #606060; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#comments {
	FONT-WEIGHT: normal; FONT-SIZE: 75%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#small {
	FONT-SIZE: 75%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#butt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana
}
#tablelogin {
	BORDER-RIGHT: #808080 1px dotted; BORDER-TOP: #808080 1px dotted; MARGIN-TOP: 10px; BORDER-LEFT: #808080 1px dotted; WIDTH: 180px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #808080 1px dotted; TEXT-ALIGN: center
}
#tablediary {
	MARGIN-RIGHT: 10px
}
#reklamaheader {
	PADDING-RIGHT: 10px; MARGIN-TOP: 30px; PADDING-LEFT: 10px; FONT-SIZE: 167%; PADDING-BOTTOM: 10px; COLOR: #606060; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#reklamastring {
	FONT-SIZE: 100%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#reklamastring2 {
	FONT-SIZE: 83%; FONT-FAMILY: Times New Roman Cyr
}
#footer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 67%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 5px; COLOR: #808080; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#printver {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; MARGIN-RIGHT: 30px; PADDING-TOP: 0px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#title {
	PADDING-RIGHT: 5px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 167%; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#titleauthor {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 133%; MARGIN-BOTTOM: 30px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#text {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 40px 50px 20px; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#copyright {
	MARGIN-TOP: 10px; FONT-SIZE: 83%; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 20px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#titlerec {
	PADDING-RIGHT: 5px; MARGIN-TOP: 60px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 133%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#textlink {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#rec {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #f0fff0; PADDING-BOTTOM: 10px; MARGIN: 10px 5px 10px 10px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#notesline {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 10px; MARGIN: 10px 5px 10px 10px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#notes {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; MARGIN: 10px 5px 10px 100px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#anonses {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; MARGIN: 20px 5px 20px 10px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#authorsphoto {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 30px; MARGIN-LEFT: 30px; OVERFLOW: hidden; WIDTH: 100%
}
#calendar {
	FONT-SIZE: 67%; FONT-FAMILY: Verdana, Arial, Helvetica
}
#header {
	PADDING-RIGHT: 5px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 167%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#header1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 167%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#header2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 133%; PADDING-BOTTOM: 5px; MARGIN: 20px 0px 10px 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#header3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 117%; PADDING-BOTTOM: 5px; MARGIN: 20px 0px 10px 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#cite {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN-LEFT: 40px; PADDING-TOP: 5px; FONT-STYLE: italic; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#margin {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 20px; PADDING-TOP: 5px
}
#diary {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#diary A:link {
	TEXT-DECORATION: none
}
#diary A:visited {
	TEXT-DECORATION: none
}
#diary A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
#search {
	BORDER-RIGHT: #ffffff 255px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 10px; MARGIN: 20px 10px 20px 20px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#diarycalendar {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 10px
}
#searchmarquee {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 100%; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; WIDTH: 98%; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#textassist {
	FONT-SIZE: 90%; WIDTH: 450px; FONT-FAMILY: Courier New Cyr, Courier New
}
#recform {
	FONT-SIZE: 90%; WIDTH: 600px; FONT-FAMILY: Courier New Cyr, Courier New
}
#textform {
	FONT-SIZE: 90%; WIDTH: 740px; FONT-FAMILY: Courier New Cyr, Courier New
}
#textheader {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; WIDTH: 740px; FONT-FAMILY: Courier New Cyr, Courier New
}
#loginsform {
	FONT-SIZE: 83%; WIDTH: 600px; FONT-FAMILY: Courier New Cyr, Courier New
}
#htmlcode {
	MARGIN-TOP: 10px; FONT-SIZE: 90%; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 20px; FONT-FAMILY: Courier New Cyr, Courier New
}
#introform {
	FONT-SIZE: 90%; WIDTH: 600px; FONT-FAMILY: Courier New Cyr, Courier New
}
#rifmaul {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN: 0px
}
#rifmali {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 10px; FONT-SIZE: 12pt; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 20px; WIDTH: 200px; PADDING-TOP: 10px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
#loginform {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 20px; DISPLAY: none; FONT-SIZE: 9pt; LEFT: 25%; MARGIN-LEFT: 20px; BORDER-LEFT: #000000 1px solid; WIDTH: 30%; MARGIN-RIGHT: 20px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana; POSITION: absolute; TOP: 40%; HEIGHT: 220px; BACKGROUND-COLOR: #f8f8f8
}
H1 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 20px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 167%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 5px; MARGIN: 20px 20px 5px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 117%; PADDING-BOTTOM: 5px; MARGIN: 20px 20px 5px; COLOR: #606060; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 5px 20px; PADDING-TOP: 5px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
DIV {
	FONT-SIZE: 100%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
TD {
	FONT-SIZE: 100%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
UL {
	MARGIN-TOP: 10px; FONT-SIZE: 100%; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 30px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
OL {
	FONT-SIZE: 100%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
LI {
	MARGIN-TOP: 2px; FONT-SIZE: 100%; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 20px; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
PRE {
	FONT-SIZE: 100%; FONT-FAMILY: Times New Roman Cyr, Times New Roman
}
INPUT {
	FONT-SIZE: 67%; FONT-FAMILY: Verdana, Arial, Helvetica
}
TEXTAREA {
	FONT-SIZE: 67%; FONT-FAMILY: Verdana, Arial, Helvetica
}
A:hover {
	COLOR: #ff3000
}
SPAN.sel {
	BACKGROUND-COLOR: #fff0e0
}
