A {
	COLOR: #000066; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.ColumnText {
	BACKGROUND-POSITION: 50% top; FONT-SIZE: 12px; COLOR: #333333; TEXT-INDENT: 20pt; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.Rubrica {
	BACKGROUND-POSITION: 50% top; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.Zagolovok {
	BACKGROUND-POSITION: 50% top; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.Avtor {
	BACKGROUND-POSITION: 50% top; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.RightColumnTex {
	BACKGROUND-POSITION: 50% top; FONT-SIZE: 12px; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.RightZag {
	BACKGROUND-POSITION: 50% top; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.Hyperlink {
	BACKGROUND-POSITION: 50% top; FONT-SIZE: 12px; COLOR: #000066; TEXT-INDENT: 0pt; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.Number {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.PodZagolovok {
	BACKGROUND-POSITION: 50% top; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
.SmallTextPhoto {
	BACKGROUND-POSITION: 50% top; FONT-SIZE: 9px; COLOR: #000033; TEXT-INDENT: 20pt; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
